/* write your custom css for index page here */
:not(i) {
    font-family: Arial;
}

.shadow-special {
    box-shadow: 5px 5px 5px 3px!important;
}

.nav-link {
    transition-property: background-color color !important;
    transition-duration: 350ms !important;
}
.nav-link:not(.active):hover {
    color: var(--bs-white)!important;
    background-color: var(--bs-success)!important;
}
.item img {
    position: absolute;
    object-fit:cover;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 572px;
    background:rgba(0,0,0,0.7);
}  